@font-face {
    font-family: 'SimsSans';
    src:url('/workspace/sims-rooms-irl/src/front/styles/fonts/SimsSans.otf');
}
.about {
    font-family: 'SimsSans';
    width: 300px;
    padding: 20px;
    margin: 0 auto;
}